@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --loaderStart: 0deg;
    --loaderEnd: 180deg;
}

@property --loaderStart {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
  
@property --loaderEnd {
    syntax: '<angle>';
    inherits: false;
    initial-value: 180deg;
}
* {
    opacity:0;
}

body, html{
    background-color: rgb(20,20,20);
    opacity:1;
}

p{
    font-family: 'Noto Sans', sans-serif;
}

h1, h2{
    font-family: 'DM Sans', sans-serif;
}
.loader{
    opacity:1;
    filter: drop-shadow(black 0px 10px 10px);
    position:relative;
    top: calc(50vh - 62.5px);
    left: calc(50vw - 125px);
    width: 250px;
    height: 250px;
    border-radius: 99999px;
    background: conic-gradient(from -90deg, rgba(0,0,0,0) var(--loaderStart), #81FBB8 var(--loaderStart), #28C76F var(--loaderEnd), rgba(0,0,0,0) var(--loaderEnd));
    animation: gradient 3s infinite ease;
  }
  
  @keyframes gradient{
      0% {
          --loaderStart: 0deg;
          --loaderEnd: 0deg;
      }
      33% {
          --loaderStart: 0deg;
          --loaderEnd: 180deg;
      }
  
      66% {
          --loaderStart: 180deg;
          --loaderEnd: 180deg;
      }
      100% {
          --loaderStart: 0deg;
          --loaderEnd: 0deg;
      }
  }

.fadeout {
    animation: fadeout 1s ease;
    transform-origin: 125px 62.5px;
}

.fadein {
    animation: fadein 1s ease;
    opacity:1;
}

.hidden{
    opacity:0;
    display:none;
}

nav{
    background-color: rgba(20, 20, 20, 1);
    z-index: 999999999999999999999999;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    nav {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background-color: rgba(20, 20, 20, 0.5);
        width: 100vw;  
        z-index: 999999999999999999999999;
}
}
@keyframes fadeout{
    from {opacity:1; display:block; width: 250px; height: 250px; transform: scale(1,1);}
    to {opacity:0; display:none; transform: scale(1.5,1.5);}
}

@keyframes fadein{
    from {opacity:0;}
    to {opacity:1;}
}

.page{
    position:relative;
    top:88px;
    padding-top: 10px;
}

#cards-container{
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
    padding-bottom: 20px;
}

.card, #cards-container{
    font-family: 'Noto Sans', sans-serif;
}