@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700&family=Poppins:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  opacity: 0;
  pointer-events: none;
  transition: 300ms;
  transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}

.opaque {
  opacity: 1;
}

.loadingsvg {
  opacity: 1;
  stroke-dasharray: 5630;
  stroke-dashoffset: 0;
  animation: draw 6s forwards;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
}

@keyframes draw {
  0% {
    stroke-dashoffset: 5630;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -5630;
  }
}

.fadeout {
  animation: fadeout 1s ease;
  transform-origin: 125px 62.5px;
}

.fadein {
  animation: fadein 1s ease;
  opacity: 1;
  pointer-events: all;
}

.hidden {
  opacity: 0;
  display: none;
  pointer-events: none;
  visibility: hidden;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
